* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* font for headings 400 600 */
/* font-family: 'Poppins', sans-serif; */

/* font for body */
/* font-family: 'Open Sans', sans-serif; */

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

a {
    color: inherit;

}

body {
    height: 100vh;
    background-color: var(--violet);
    background-image: url(./images/bg-desktop.svg);
}

header .logo {
    width: 7rem;
    padding: 1rem 0;
}

header .container {
    width: 90%;
    margin: auto;
}

main .main_container {
    width: 90%;
    margin: auto;
    display: flex;
}

main .main_container .image {
    width: 60%;
}

main .main_container .text-content {
    width: 50%;
    padding: 3rem 2rem;
}

main .main_container .text-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    width: 80%;
    color: white;
    margin-bottom: 1rem;
}

main .main_container .text-content p {
    color: white;
    margin-bottom: 2rem;
    font-size: .9rem;
    width: 91%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

main .main_container .text-content button {
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    color: var(--violet);
    box-shadow: 2px 6px 5px 0px hsl(257deg 37.12% 32.16%);
    cursor: pointer;

    &:hover {
        color: white;
        background-color: var(--soft-magenta);
    }
}

main .main_container .icons {
    display: flex;
    align-items: center;
    background-color: transparent;
    position: fixed;
    bottom: 5%;
    right: 10%;
}

main .icons .icon-inner {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

    &:hover {
        border-color: var(--soft-magenta);
    }
}

main .main_container .icons img {
    width: 20px;
    cursor: pointer;
}

footer .attribution {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .7rem;
}

@media only screen and (max-width:425px) {
    main .main_container {
        width: 90%;
        flex-direction: column;
    }

    main .main_container .image {
        width: 90%;
    }

    main .main_container .text-content {
        width: 100%;
    }

    main .main_container .text-content h2 {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
        margin: 1rem auto;
    }

    main .main_container .text-content p {
        width: 90%;
        text-align: center;
        margin: 1rem auto;
    }

    main .main_container .text-content button {
        margin: auto;
        width: 60%;
    }

    main .main_container .icons {
        position: unset;
        margin: auto;
    }

    footer {
        position: unset;
        display: block;
        margin: auto;
    }

}